@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
main{
    position: relative;
    height: 100vh;
}
section#celular{
    background-image: url('../imagens/frame-iphone.png');
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

